<%- include('../header.ejs') %>
    <h1>This is an index of species</h1>
    <% for(let i = 0; i < animals.length; i++) { %>
        <a href="/animals/<%= i %>">
            <img src=<%= animals[i].image %> alt="animal picture">
            <h3>Species: <%= animals[i].species %></h3>
        </a>
        <h3>Location: <%= animals[i].location %></h3>
        <h3>Extinct: <%= animals[i].extinct %></h3>
    <form action="/animals/<%=i; %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <a href="/animals/<%= i; %>/edit">Edit</a>
    <hr>
    <% } %>
</body>
</html>